In [117]:
import pandas as pd

In [118]:
filename = "lay_5_cai_dau_data2 12-08-22 16-20-27"
filename = filename + "_mean_std.csv"
path = "D:\laragon\www\\boxqt\data\\08-12-22\lay_5_cai_dau_data2 12-08-22 16-20-27.xlsx"
# print(path)
df = pd.read_excel(path, sheet_name="input")
df_output = pd.read_excel(path, sheet_name="output")

In [119]:
output = []

for i in range(df['#'].min(), df_output['#'].max() + 1):
     output.append(df_output[df_output['#'] == i].max())
     # df1 = df[df['#'] == i].mean()

df_output = pd.DataFrame(output)

In [120]:
df_output = pd.DataFrame(output)

In [121]:
df_output.head(20)

         f    #
0  1349.07  1.0
1  2092.89  2.0
2  3159.27  3.0
3  3983.76  4.0
4  5249.78  5.0

In [122]:
mean = []
std = []
for i in range(df['#'].min(), df['#'].max() + 1):
     mean.append(df[df['#'] == i].abs().mean())
     std.append(df[df['#'] == i].std())
     # df1 = df[df['#'] == i].mean()
df_mean = pd.DataFrame(mean)
df_std = pd.DataFrame(std)

In [123]:
df_mean = df_mean.rename(
    columns={
        'ax': 'ax_mean_abs',
        'ay': 'ay_mean_abs',
        'az': 'az_mean_abs',
        'gx': 'gx_mean_abs',
        'gy': 'gy_mean_abs',
        'gz': 'gz_mean_abs',
    })
df_std = df_std.rename(
    columns={
        'ax': 'ax_std',
        'ay': 'ay_std',
        'az': 'az_std',
        'gx': 'gx_std',
        'gy': 'gy_std',
        'gz': 'gz_std',
    })

In [124]:
df_std = df_std.drop(['#'], axis=1)
df_std.head()
df_mean = df_mean.drop(['#'], axis=1)
df_mean.head()

,ax_mean_abs,ay_mean_abs,az_mean_abs,gx_mean_abs,gy_mean_abs,gz_mean_abs
0,3.544545,6.618182,9.320455,0.515455,0.222727,0.099091
1,7.595238,16.225714,10.716667,1.656190,0.793810,0.284762
2,12.375238,24.168095,16.139524,2.500000,1.317619,0.391905
3,16.112222,34.176667,21.255000,3.206111,1.825556,0.577222
4,29.023333,34.978333,28.903889,3.578333,2.483333,1.409444

In [125]:
result = pd.concat([df_mean, df_std], axis=1)

In [126]:
result['a_mean'] = pow(pow(result['ax_mean_abs'], 2) + pow(result['ay_mean_abs'], 2) + pow(result['az_mean_abs'], 2), 1/2)
result['g_mean'] = pow(pow(result['gx_mean_abs'], 2) + pow(result['gy_mean_abs'], 2) + pow(result['gz_mean_abs'], 2), 1/2)
result['a_std'] = pow(pow(result['ax_std'], 2) + pow(result['ay_std'], 2) + pow(result['az_std'], 2), 1/2)
result['g_std'] = pow(pow(result['gx_std'], 2) + pow(result['gy_std'], 2) + pow(result['gz_std'], 2), 1/2)

In [127]:
result = pd.concat([result, df_output], axis=1)

In [128]:
result.to_csv("D:\laragon\www\\boxqt\data\cleandata_" + filename,
              index=False)